a {
  color: rgb(212, 212, 247);
  text-decoration: none;
}

.nav-li {
  box-shadow: 5px 5px 20px rgb(234, 232, 232, 0.7),
    -5px -5px 20px rgb(234, 232, 232, 0.7);
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}
